html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
html {
  font-family: 'Cabin', sans-serif;
  font-size: 125%;
  line-height: 1.45rem;
}


/* == change back for codepen .html-class {
  font-family: 'Cabin', sans-serif;
  font-size: 125%;
  line-height: 1.45rem;
 } */ 
.sr-only:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* ====================================================================================
More general stuff
====================================================================================*/

:root {
  --accent: #fdc800;
  --black-shade: #232323;
  --secondary-grey: #eaedf4;
  --secondary-white: #f8f8f8;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.yellow-btn {
  background: var(--accent);
  color: var(--black-shade);
  padding: 0.4rem 1.9rem 0.5rem 1.9rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0.7rem 0 3rem 0;
}


/* ====================================================================================
Header
====================================================================================*/

header {
  background-image: url(https://psd.hackeryou.com/assignment1-assets/tasty/asset-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
}

/* will come back via media query, but this is being organised mobile-first */
.main-nav {
  display: none;
}
.wrapper {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  
}

.logo-container {
  grid-row: 1/2;
  grid-column: 1/2;
}

.nav-container {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-self: flex-end;
  width: 100%;
  position: relative;
}

header h3 {
  grid-row: 1/4;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

h1 {
  grid-row: 1/4;
  grid-column: 1/3;
  align-self: center;
  text-align: center;
  margin-bottom: -6rem;
  margin-left: 2rem;
}


.center-logo {
  font-size: 5rem;
  letter-spacing: 2px;
}

.nav-container i {
  font-size: 2.5rem;
  width: 60px;
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  padding: 1.5rem;
}

.top-left-logo {
  font-size: 2rem;
  cursor: pointer;
}

.socials-nav {
  display: none;
}

/* ======================

hamberder made using pseudo elements

inspiration drawn from https://codepen.io/foxleigh81/pen/PZVBZV

=======================*/

.burger-container {
  height: 2rem;
  width: 2.5rem;
  align-self: flex-end;
  position: absolute;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--black-shade);
  border-radius: 5px;
  bottom: 5
}

.burger-line::after {
  position: absolute;
  height: 0.2rem;
  width: 2.5rem;
  background-color: var(--black-shade);
  border-radius: 5px;
  content: "";
  top: -0.6rem;
}

.burger-line::before {
  position: absolute;
  height: 0.2rem;
  width: 2.5rem;
  background-color: var(--black-shade);
  border-radius: 5px;
  content: "";
  top: 0.6rem;
}

/* ========================================================================
Main - about
======================================================================*/

main, 
main section{
  width: 100%;
}

main section:first-child {
  background: var(--secondary-white);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.about-wrapper h3 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 2rem;
  margin: 3.5rem 0 0.5rem 0;
}

.about-wrapper p {
  text-align: center;
  
  
}



/* ========================================================================
Main - middle-nav
======================================================================*/


.middle-nav {
  background: #232323;
  padding: 1rem 0;
  display: flex;

}

.middle-nav ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.middle-nav ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  height: 3.8rem;
  justify-content: space-between;
}

.middle-nav ul li a {
  color: var(--secondary-white);
}

.middle-nav ul li:nth-child(odd) {
  margin: 2.5rem;
}

.fa {
  color: var(--secondary-white);
  font-size: 1.5rem;
}

/* ========================================================================
Main - gallery
======================================================================*/

.gallery-container {
  width: 100%;
}

.gallery li:last-child {
  display: none;
}

.gallery {
  display: flex;
  margin: 0;
  padding: 0;
}

.gallery li {
  list-style: none;
}


.gallery li {
  width: 50%;
  height: auto;
}

.gallery img {
  max-width: 100%;
  height: 100%;
}


/* ========================================================================
Main - blog
======================================================================*/



.blog-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--secondary-grey);
  

}

.image-container {
  width: 100%;
  margin: 0;
  
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}


.blog-container article {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color:var(--secondary-grey);
  justify-content: center;
  align-items: center;
}

article p {
  width: 66%;
  text-align: center;
}

article h3 {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
  margin-top: 3rem;
}


.cooking-tips {
  grid-row: 1/2;
}
/* select first image container */
.blog-container div:first-of-type {
  grid-row: 2/3;
}

.recipes {
  grid-row: 3/4;
}

.blog-container div:last-of-type {
  grid-row: 4/5;
}



/* ========================================================================
Aside 
======================================================================*/


.aside-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 2.7rem;
}

.author-image-container {
  width: 50%;
}

aside img {
  width: 100%;
}

.aside-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside p {
  padding: 1rem;
  margin-bottom: 0;
}

aside h3 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

aside a {
  margin-bottom: 1.5rem;
}


/* ========================================================================
Footer
======================================================================*/

.recent-posts-container {
  display: none;
}

.footer-container {
  width: 100%;
  background-color: var(--black-shade);
  display: grid;
  grid-template-rows: auto auto auto 2rem;
  color: var(--secondary-white);
  
}

.form-container {
  grid-row: 1/2;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-container {
  grid-row: 2/3;
}

.bottom-nav-container {
  grid-row: 3/4;
}

.bottom-nav ul {
  display: flex;
}

.remove-for-mobile {
  display: none;
}

.bottom-nav a {
  color: var(--secondary-white);
}

label {
  font-size: 0.9rem;
}

form h4 {
  margin-bottom: 0;
  margin-top: 2rem;
  font-size: 1.3rem;
}

form input {
  width: 90%;
  text-align: center;
  font-size: 0.9rem;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 0;
  border: none;
}

form button {
  width: 90%;
  height: 2rem;
  border: none;
  padding: 0;
  margin: 0.4rem 0 1rem 0;
  font-size: 1.3rem;
  background: var(--accent);
  color: var(--black-shade);
  
  font-size: 0.9rem;
  font-weight: 700;
  
}

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.contact-container p {
  margin: 0;
  line-height: 1.5rem;
}

.contact-container h4 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}


.bottom-nav-container {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.bottom-nav ul {
  margin: 0 0 2rem 0;
  padding: 0;
  
  
}

.bottom-nav a {
  margin: 0;
  padding: 0 0.6rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-right: 2px solid var(--secondary-white)
}

.bottom-nav-container h4 {
  margin: 1rem 0 0 0;
  padding: 0;
  font-size: 1.2rem;
}

.bottom-nav li:nth-child(4) a {
  border: none;
}

.copyright {
  background-color: black;
  color: var(--black-shade);
  font-size: 0.9rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* ========================================================================
media queries
======================================================================*/





@media (min-width:600px) {

  .nav-container {
    justify-content: center;
  }
  
  .burger-container {
    display: none;
  }

  .main-nav {
    display: block;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav a {
    color: var(--black-shade);
    padding: 0 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
  
  
  .middle-nav ul {
    flex-direction: row;
  }

  .middle-nav ul li:nth-child(even) {
    margin: 2.5rem;
  }

  .gallery li:last-child {
    display: block;
  }

  .gallery li {
      width: 33.3%;
      height: auto;
  }

  .author-image-container {
  width: 33%;
}


  form button,
  form input {
    width: 60%;
  }

}


@media (min-width: 940px) {

  .gallery {
    justify-content: center;
  }
  
  .gallery li {
    width: 25%;
    height: auto;
    padding: 2rem 1rem;
  }

  /* establish grid rules for the blog section */
  .blog-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .cooking-tips,
  .recipes {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 80%;
  }

  .cooking-tips {
    justify-self: flex-end;
    margin-right: 1rem;
  }

  .recipes {
    margin-right: 1rem;
  }

  .blog-container div:first-of-type {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .blog-container div:last-of-type {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .recipes {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  article p {
    font-size: 0.95rem;
  }
  article h3 {
    font-size: 1.5rem;
  }

  /* aside */

  .aside-container {
    flex-direction: row;
  }

  .aside-text {
    width: 60%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .aside-text p {
    padding: 0;
    font-size: 0.9rem;
  }

  .author-image-container {
    width: 31%;
    margin: 0 1.5rem 3rem 0;
  }

  .aside-text a {
    margin-top: 1.5rem;
    margin-bottom: 4.5rem;
  }

  
}

@media (min-width: 1100px) {
  .socials-nav {
    display: block;
    width: 3rem;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 3rem;
    margin-bottom: 7rem;
    
  }

  .socials-nav .fa {
    color: var(--accent);
    padding: 0.4rem;
    font-size: 1.2rem;
  }

  /* footer */

 

  .footer-container {
    grid-template-rows: 1fr 2rem;
    grid-template-columns: 1fr 1fr 1fr 50%;
    padding-top: 4rem;
    padding-left:10%;
    padding-right: 10%;
    width: 80%;
  }

  .recent-posts-container {
    display: flex;
  }

  .copyright {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-left: -12.5%;
    margin-right: -12.5%;
  }

  .form-container {
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .contact-container {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .bottom-nav-container {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .recent-posts-container {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  
  footer h4 {
    font-size: 1rem;
    text-align: left;
    margin: 0;
  }

  footer p {
    font-size: 0.9rem;
    text-align: left;
  }

  .bottom-nav ul {
    flex-direction: column;
  }
  .bottom-nav a {
    border: none;
    padding: 0;
  }

  .bottom-nav-container h4 {
    font-size: 1rem;
    margin-top: 0;
  }
  .bottom-nav-container {
    align-items: flex-start;
  }

  .contact-container h4 {
    font-size: 1rem;
    margin: 0;

  }

  .remove-for-desktop {
    display: none;
  }

  .remove-for-mobile {
    display: inline;
  }

  

  .line-break::before {
    content: "\a";
    white-space: pre;
  }

  .recent-posts-container {
    flex-direction: column;
  }
  
  footer a {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--secondary-white);
  }

  .recent-posts-container ul {
    margin: 0;
    padding: 0;
  }

  .form-container {
    margin-left: 2rem;
  }
  form {
    text-align: left;
  }

  form input,
  form button {
    margin: 0.8rem 0;
  }

  form input {
    text-align: left;
    text-indent: 2rem;
    width: 70%;
  }

  form button {
    width: 30%;
    font-size: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .input-container {
    display: flex;
    width: 100%;
  }

}